{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<div id="page" class="content container">

<div>
        <img class="fr img-circle" src="{{ .Site.BaseUrl }}/css/me.png" alt="我的照片" width="90" height="90"/>

        <p>大家好，我是秦晓辉，工程师一枚。</p>

        <p>混迹帝都IT圈，从狼厂到粗粮，一直从事运维自动化相关的开发工作，用过各种语言，搞过各种系统，主要关注三个Topic：部署、监控、PaaS</p>

        <p>做过的比较典型的项目如下，按时间先后排序：</p>

        <ul>
            <li>百度自动化运维平台Noah</li>
            <li>百度自动化部署系统Archer</li>
            <li>小米监控系统Falcon</li>
            <li>小米PaaS平台DINP</li>
        </ul>

        <p>12年从山大毕业（11年就去狼厂全年实习了），风尘仆仆世俗中……各位朋友如果有远程工作（一条路：找个山清水秀的小山村remote）、创业（另一条路：搏一把）等机会可以联系我：）</p>
    </div>

    <hr>

    <div class="list">
        <ul>
            <li>开源作品Open-Falcon：<a href="https://github.com/open-falcon" target="_blank">https://github.com/open-falcon</a></li>
            <li>开源作品DINP：<a href="https://github.com/dinp" target="_blank">https://github.com/dinp</a></li>
            <li>开源作品agent-updater：<a href="https://gitcafe.com/ops" target="_blank">https://gitcafe.com/ops</a></li>
            <li>我整理的牛人博客：<a href="http://geniusblog.sinaapp.com/" target="_blank">http://geniusblog.sinaapp.com/</a></li>
            <li>我的视频：<a href="http://my.jikexueyuan.com/4031141286/record/" target="_blank">http://my.jikexueyuan.com/4031141286/record/</a></li>
        </ul>
    </div>

    <hr>

    <div>
        Github：<a target="_blank" href="https://github.com/UlricQin">@UlricQin</a>
        <span class="cut-line">¦</span>
        Email：<a target="_blank" href="mailto:ulric.qin@gmail.com">ulric.qin@gmail.com</a>
    </div>

    <hr>

    <div>
        <div style="float:left;">
            <img src="http://7rflwy.com1.z0.glb.clouddn.com/img-myqq.jpg" width=150 height=150>
            <div class="resume">我的QQ</div>
        </div>
        <div style="float:left;">
            <img src="http://7rflwy.com1.z0.glb.clouddn.com/img-myweixin.jpg" width=150 height=150>
            <div class="resume">我的微信</div>
        </div>
        <div style="float:left;">
            <img src="http://7rflwy.com1.z0.glb.clouddn.com/img-it_mianshiti.jpg" width=150 height=150>
            <div class="resume">我的公众号</div>
        </div>
        <div style="float:left;">
            <img src="http://7rflwy.com1.z0.glb.clouddn.com/img-zhifubao.jpg" width=150 height=150>
            <div class="resume">我的支付宝</div>
        </div>
    </div>

    <br style="clear:both;">
   

</div>

{{ partial "footer.html" . }}
