{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<div id="page" class="content container">

<div>
        <img class="fr img-circle" src="{{ .Site.BaseUrl }}/css/me.png" alt="我的照片" width="90" height="90"/>

        <p>大家好，我是秦晓辉，工程师一枚。</p>

        <p>混迹帝都IT圈，从狼厂到粗粮，一直从事运维相关的开发工作，主攻自动化部署和监控，关注paas构建，在我司基于CloudFoundry搭建的私有云，持续跟进中……</p>

        <p>我不是个语言粉，只是把语言当成工具，只要解决问题就好，典型的工程师思维：）我……</p>

        <ul>
            <li>用Java写过网站、写过集群控制系统</li>
            <li>用php写过网站、写过机器管理</li>
            <li>用perl写过自动化部署</li>
            <li>用ruby写过CloudFoundry的buildpack</li>
            <li>用golang写过网站、写过监控系统agent</li>
            <li>用python写过监控系统portal、写过流量展示平台</li>
            <li>目前在写一个小型paas…</li>
        </ul>

        <p>三年大学，一年实习，两年工作，风尘仆仆世俗中……各位朋友如果有remote工作机会或者创业缺人手可以提前联系我：）过几年终要回我大山东的……</p>
    </div>
    <hr>
    <div>
        <div style="float:right;">
            <img src="{{ .Site.BaseUrl }}/css/it_mianshiti.jpg" width=150 height=150>
        </div>
        <div>
            我的信箱：<a href="mailto:ulric.qin@gmail.com">ulric.qin@gmail.com</a><br>
            我的github：<a href="https://github.com/UlricQin">@UlricQin</a><br>
            我的twitter：<a href="https://twitter.com/UlricQin">@UlricQin</a><br>
            我的blog：<a href="http://blog.ulricqin.com">http://blog.ulricqin.com</a><br>
            我的QQ：78832909<br>
            我的微信公众号：it_mianshiti<br>
        </div>
    </div>

    <br style="clear:both;">
    <hr>

    <div>
        [福利]整理了一个IT牛人博客列表：<a href="http://geniusblog.sinaapp.com/" target="_blank">http://geniusblog.sinaapp.com/</a><br>
        [工具]写了一个很简单粗陋取代便笺的备忘录：<a href="http://todonote.sinaapp.com/" target="_blank">http://todonote.sinaapp.com/</a>
    </div>

</div>

{{ partial "footer.html" . }}
