{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<div id="page" class="content container">

<div>
        <img class="fr img-circle" src="{{ .Site.BaseUrl }}/css/me.png" alt="我的照片" width="90" height="90"/>

        <p>大家好，我是秦晓辉，小米运维研发技术负责人，互联网公司监控解决方案<a href="https://github.com/open-falcon" target="_blank">OpenFalcon</a>主程，国内第一套开源PaaS平台<a href="https://github.com/dinp" target="_blank">DINP</a>主程，企业级业务监控Minos（该系统闭源，二进制免费用，参看<a href="https://coding.net/u/ulricqin/p/open-minos-doc/git">Minos文档</a>，想要购买源码、服务、系统定制可以联系我）作者，Gopher，现负责小米运维平台的搭建。关注运维自动化、PaaS领域。</p>

        <p>
            我的Github：<a target="_blank" href="https://github.com/UlricQin">@UlricQin</a>，Twitter：<a target="_blank" href="https://twitter.com/UlricQin">@UlricQin</a>，下面是我的微信账号和公众号，欢迎业界同仁骚扰
        </p>
    </div>

    <hr>

    <div>
        <div style="float:left;">
            <img src="http://7rflwy.com1.z0.glb.clouddn.com/img-myweixin.jpg" width=150 height=150>
            <div class="resume">我的微信</div>
        </div>
        <div style="float:left;">
            <img src="http://7xiumq.com1.z0.glb.clouddn.com/img-qrcode_sa-dev.jpg" width=150 height=150>
            <div class="resume">我的公众号</div>
        </div>
    </div>

    <br style="clear:both;">

    <hr>

    <div>
        采用Go编写的系统（比如OpenFalcon、Docker、CloudFoundry等）越来越多，如果想深入研究，二次开发，Go语言是必须的。而学习一个语言的最快方式无非就是手把手学写一个小系统。于是我用Go写了一个个人Blog，演示了如何使用Go语言编写系统。Blog麻雀虽小五脏俱全，代码精雕细琢。想要这个Blog的源码吗？看这里：<a href="http://120.134.35.44/article/blog-introduce.html">UlricQin-Blog</a> 谢谢支持:)
    </div>
   

</div>

{{ partial "footer.html" . }}
